@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./noto-sans/NotoSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./noto-sans/NotoSans-Italic-Variable.ttf') format('truetype');
}