@use 'index' as i;

:host {
  text-align: center;
}

.song-cover {
  margin-bottom: i.$margin-lg;
  width: 30%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: i.$border-radius-md;
  box-shadow: i.$box-shadow-md;
  aspect-ratio: 1 / 1;
  outline: 1px solid var(--outline-variant);

  &.placeholder {
    background-color: var(--surface-container);

    fa-icon {
      font-size: i.$font-size-5xl;
    }
  }
}

.song-metadata {
  display: flex;
  gap: i.$margin-md;
  flex-direction: column;
}

.title {
  font-size: i.$font-size-2xl;
  font-weight: 500;
}

.artist, .album {
  font-size: i.$font-size-md;
  color: var(--on-surface-variant);
}

img.grayscale {
  filter: grayscale(100%);
}
