@use 'index' as i;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  position: relative;
  padding: i.$padding-lg i.$padding-xl;
  display: flex;
  gap: i.$margin-xl;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--outline-variant);
  border-radius: i.$border-radius-xl;
  background-color: var(--surface-container);
  box-shadow: i.$box-shadow-2xl;
}

.settings {
  transition: transform 450ms, outline-color 250ms;

  &:hover {
    transform: rotate(45deg);
  }
}

.settings-text, .settings {
  position: absolute;
  font-size: i.$font-size-2xl;
  border-radius: i.$border-radius-md;
  color: var(--on-surface-variant);
  top: i.$margin-sm;
  right: i.$margin-sm;
  outline: 2px solid transparent;

  &:focus {
    outline-color: var(--primary);
  }
}

.settings-text {
  cursor: pointer;
  transition: color 250ms, outline-color 250ms;

  &:hover {
    color: var(--on-surface);
  }
}
