@let play = 'controls.play' | translate;
@let pause = 'controls.pause' | translate;
@let isPlaying = songService.consoleStatus().playing;
@let previousSong = 'controls.previousSong' | translate;

<button class="secondary" [attr.aria-label]="previousSong" [title]="previousSong">
  @if (iconifyButtons()) {
    <fa-icon [icon]="faCaretLeft" />
  } @else {
    {{ previousSong }}
  }
</button>
<button class="primary" [attr.aria-label]="isPlaying ? pause : play" [title]="isPlaying ? pause : play">
  @if (iconifyButtons()) {
    @if (isPlaying) {
      <fa-icon [icon]="faPause" />
    } @else {
      <fa-icon [icon]="faPlay" />
    }
  } @else {
    @if (isPlaying) {
      {{ pause }}
    } @else {
      {{ play }}
    }
  }
</button>
@let nextSong = 'controls.nextSong' | translate;
<button class="secondary" [attr.aria-label]="nextSong" [title]="nextSong">
  @if (iconifyButtons()) {
    <fa-icon [icon]="faCaretRight" />
  } @else {
    {{ nextSong }}
  }
</button>
@let toggleLoop = 'controls.toggleLoop' | translate;
<button [attr.aria-label]="toggleLoop" [title]="toggleLoop">
  @if (iconifyButtons()) {
    <fa-icon [icon]="faRepeat" />
  } @else {
    {{ toggleLoop }}
  }
</button>
@let toggleRandom = 'controls.toggleRandom' | translate;
<button [attr.aria-label]="toggleRandom" [title]="toggleRandom">
  @if (iconifyButtons()) {
    <fa-icon [icon]="faShuffle" />
  } @else {
    {{ toggleRandom }}
  }
</button>
@let stop = 'controls.stop' | translate;
<button [attr.aria-label]="stop" [title]="stop">
  @if (iconifyButtons()) {
    <fa-icon [icon]="faStop" />
  } @else {
    {{ stop }}
  }
</button>
