@use 'index' as i;

.dialog-panel {
  position: relative;
  padding: i.$padding-sm i.$padding-xs;
  border: 2px var(--outline-variant);
  border-radius: i.$border-radius-lg;
  background-color: var(--surface-container);
  transition: opacity 250ms;
}

.close-button {
  position: absolute;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--on-surface-variant);
  transition: color 250ms;
  top: i.$padding-sm;
  right: i.$padding-sm;

  &:hover, &:focus {
    color: var(--text);
  }
}

.dialogEnter {
  animation: dialogEnter 1s i.$cubic-in-out;
}

.dialogLeave {
  animation: dialogLeave 750ms i.$cubic-in-out;
}

@keyframes dialogEnter {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialogLeave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}


h2 {
  font-family: i.$display-font;
  font-size: i.$font-size-3xl;
  text-align: center;
}

form {
  display: grid;
  gap: i.$margin-md;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  padding: i.$padding-sm i.$padding-md;
  display: flex;
  gap: i.$margin-md;
  flex-direction: column;
  border: 2px solid var(--outline-variant);
  border-radius: i.$border-radius-lg;
  transition: outline-color 250ms;

  &:focus-within {
    border-color: var(--outline);
  }
}

legend {
  margin-bottom: i.$margin-lg;
  margin-left: i.$margin-lg;
  display: inline-flex;
  gap: i.$margin-sm * 1.2;
  font-size: i.$font-size-lg;
  color: var(--on-surface);
}

label {
  display: grid;
  grid-template-rows: auto auto;

  input, switch, .font-size-changers, select {
    grid-column: 2;
    grid-row: 1 / -1;
    place-self: center end;
  }
}

input {
  padding: i.$padding-sm i.$padding-md;
  font-family: inherit;
  font-size: i.$font-size-md;
  border: 1px solid var(--outline-variant);
  border-radius: i.$border-radius-md;
  background-color: var(--surface-container-high);
  color: var(--on-surface-variant);
  transition: border-color 250ms, color 250ms;

  &:focus {
    color: var(--on-surface);
    outline: none;
    border-color: var(--outline);
  }
}

i {
  font-size: i.$font-size-sm;
  color: var(--on-surface-variant);
}

abbr {
  cursor: help;
}

.font-size-changers {
  display: flex;
  gap: i.$margin-md;
  justify-content: center;
  align-items: center;
}

.font-size-changers button {
  width: fit-content;
  padding: i.$padding-xs i.$padding-sm;
  cursor: pointer;
  font-family: inherit;
  font-size: i.$font-size-lg;
  border: 1px solid var(--outline-variant);
  border-radius: i.$border-radius-md;
  background-color: var(--surface-container-high);
  color: var(--on-surface-variant);
  transition: border-color 250ms, color 250ms, background-color 250ms;

  &:hover, &:focus {
    color: var(--on-surface);
  }
}

select {
  padding: i.$padding-xs i.$padding-sm;
  font-family: inherit;
  font-size: i.$font-size-lg;
  border: 1px solid var(--outline-variant);
  border-radius: i.$border-radius-md;
  background-color: var(--surface-container-high);
  color: var(--on-surface-variant);
  transition: border-color 250ms, color 250ms, background-color 250ms;

  &:hover, &:focus {
    color: var(--on-surface);
  }
}

option {
  font-family: inherit;
}

.connect {
  margin-top: i.$margin-xl;
  padding: i.$padding-md i.$padding-lg;
  cursor: pointer;
  font-family: inherit;
  font-size: i.$font-size-sm;
  border: 0;
  border-radius: i.$border-radius-md;
  background-color: var(--primary);
  color: var(--on-primary);
  transition: color 250ms, background-color 250ms;

  &:hover {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
  }
}
